version: "3.8"

services:
  frontend:
    build:
      context: ..
      dockerfile: frontend/Dockerfile
    ports:
      - '80:3000'
    environment:
      - NODE_ENV=production
      - INTERNAL_API_URL=http://localhost:3000/api
    restart: unless-stopped
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
