version: "3.8"

services:
  redis:
    image: redis:7.2-alpine
    container_name: ticket-redis
    ports:
      - "6380:6379"
    networks:
      - backend-network
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 5
    # volumes:
    #   - ./backend/redis_data:/data
  api-server:
    image: ${NCP_REGISTRY_URL}/beastcamp-api-server:${IMAGE_TAG:-latest}
    container_name: api-server
    build:
      context: ..
      dockerfile: backend/api-server/Dockerfile
    ports:
      - "3002:3002"
    environment:
      - NODE_ENV=production
    env_file:
      - .env
    restart: unless-stopped
    extra_hosts:
      - "host.docker.internal:host-gateway"
    depends_on:
      redis:
        condition: service_healthy
    networks:
      - backend-network
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

  ticket-server:
    image: ${NCP_REGISTRY_URL}/beastcamp-ticket-server:${IMAGE_TAG:-latest}
    container_name: ticket-server
    build:
      context: ..
      dockerfile: backend/ticket-server/Dockerfile
    ports:
      - "3001:3001"
    environment:
      - NODE_ENV=production
    env_file:
      - .env
    restart: unless-stopped
    depends_on:
      redis:
        condition: service_healthy
    networks:
      - backend-network
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

  promtail:
    image: grafana/promtail:3.3.0
    container_name: promtail-backend
    user: root
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./promtail-config.yaml:/etc/promtail/config.yaml
    command: -config.file=/etc/promtail/config.yaml -config.expand-env=true
    env_file:
      - .env
    environment:
      - LOKI_URL=${LOKI_URL}
    networks:
      - backend-network
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

networks:
  backend-network:
    driver: bridge
