version: '3.8'

services:
  redis:
    image: redis:7.2-alpine
    container_name: queue-redis
    ports:
      - "6379:6379"
    networks:
      - queue-network
    # volumes:
    #   - ./queue-backend/redis_data:/data
  queue-backend:
    build:
      context: ..
      dockerfile: queue-backend/Dockerfile
    ports:
      - "3003:3003"
    environment:
      - NODE_ENV=production
    env_file:
      - .env
    restart: unless-stopped
    depends_on:
      - redis
    networks:
      - queue-network

networks:
  queue-network:
    driver: bridge
